#galerie {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #big {
        width: 100%;
    }

    #big img {
        width: 100%;
        cursor: pointer;
    }

    #container-thumbs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .thumb {
        border-radius: 10px;
    }

    .thumb img {
        width: 100px;
        cursor: pointer;
        border-radius: 10px;
    }